* {
  /* m0 */
  margin: 0;
  /* p0 */
  padding: 0;
}

.parent {
  /* p0-10 */
  padding: 0 10px;
  /* m20-30r */
  margin: 20px 30rem;

  /* w100p */
  width: 100%;
  /* fz20e */
  font-size: 20em;
}

.child-1 {
  /* m20+pt10p+fz30e */
  margin: 20px;
  padding-top: 10%;
  font-size: 30em;
}

.card {
  /* bg:red+c:black+fz4r+df+fxd:cr */
  background: red;
  color: black;
  font-size: 4rem;
  display: flex;
  flex-direction: column-reverse;
}
