/* 
text-indent: start space 
letter-spacing :  spacing between letter 
line-height :  spacing vertical
word-spacing : spacing between word
*/

p {
  text-indent: 50px;
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 1.8;
}
