header {
  border: 3px solid green;
  /* border-radius: 20px 40px 80px 2px; */
  border-color: red pink purple green;
  border-top-left-radius: 50px;
  border-top-right-radius: 10px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
}
