/* a {
  color: red;
} */

a:link {
  color: yellow;
}

a:visited {
  color: teal;
}

a:active {
  font-size: large;
}

a:hover {
  background-color: orangered;
  color: white;
  text-decoration: none;
}
