section {
  display: inline-block;
  width: 200px;
  font-size: 30px;
  text-align: center;
  color: white;
  background: green;
}

/* smart phone */
/* @media screen and (max-width: 767px) {
  section {
    background: orange;
  }
} */

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    background: purple;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  section {
    background: red;
  }
}
