:root {
  --headerColor: blue;
  --textColor: #fff;
  --sizeProg: 3rem;
  --footerColor: #121212;
  --paddingFooter: 20px;
  --paddingHeader: 2rem;
}

header {
  background-color: var(--headerColor);
  padding: var(--paddingHeader);
}

header a {
  color: var(--textColor);
}

main {
  font-size: calc(var(--sizeProg) - 10px);
}

footer {
  background-color: var(--footerColor);
  padding: calc(20px - 10px);
  color: var(--textColor);
  text-align: center;
}
