* {
  margin: 0;
  padding: 0;
}

header {
  background: #2b3140;
  padding: 30px;
  color: #fff;
  width: 100%;
}

main {
  width: 50%;
  margin: auto;
}

figure img {
  width: 75%;
}

figcaption {
  width: 30vw;
}
/* section {
  background-color: red;
  max-width: 400px;
  min-height: 300px;
}

p:last-child {
  background-color: blue;
  min-width: 300px;
  max-height: 20px;
} */
