* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
/* inherit */
/* child inherit properties parent  */
.box-1 {
  color: red;
  border: 2px dashed blue;
}

.box-1 p {
  border: inherit;
}
/* initial  -> default value */
.box-2 h1,
p {
  /* h1 and p display : block  */
  display: initial;
  /* initial inline  */
  color: initial;
}

.box-3 {
  color: red;
  border: 2px dashed purple;
  margin-left: 20px;
  font-size: 30px;
}

/* unset */
.box-3 h2 {
  /* initial */
  border: unset;
  /* inherit */
  color: unset;
  /*  unset : initial 0 */
  /* inherit : 20px */
  margin-left: unset;
}

.box-3 button {
  width: 100px;
  height: 100px;
  /* 30px */
  font-size: unset;
  /* all properties */
  all: unset;
}

/* revert  return style user agent */
.box-3 ol {
  margin: revert;
  padding: revert;
}
