* {
  margin: 0;
  padding: 0;
}

.container-1 {
  border: 1px solid #000;
  width: 200px;
  height: 200px;
  /* horizontal  */
  margin: 0 auto;
}
.container-1 h6 {
  /* horizontal  */
  text-align: center;
}

.container-2 {
  border: 1px solid #234422;
  width: 200px;
  height: 200px;
  /* justify-content horizontal  (row) */
  display: flex;
  justify-content: center;
}

.container-3 {
  border: 4px solid red;
  width: 200px;
  height: 200px;
  position: relative;
}

.container-3 .box {
  background: yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  /* 1 Half this element's height  */
  /* margin-top: -25px; */
  /* left: 50%; */
  /* margin-left: -25px; */
  /* 2 don't know the height of the element  */
  transform: translate(0, -50%);
}

.container-4 {
  border: 4px solid orange;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-4 .box {
  background: red;
  width: 50px;
  height: 50px;
}
