<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Flex Layout</title>
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <section class="container">
    <header>
      <h1 class="logo-name">Logo</h1>
      <nav> nav</nav>
    </header>
    <section class="container-main">
      <main>
        <section class="image-profile">image</section>
        <section class="info-profile">info</section>
      </main>
      <aside>
        aside
      </aside>
    </section>
    <footer>footer</footer>
  </section>
</body>

</html>