* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  width: 800px;
  background-color: red;
  margin: auto;
}
/* Header */
header {
  height: 70px;
  background-color: green;
  display: flex;
  flex-direction: row;
}

.logo-name {
  background-color: purple;
  width: 60%;
}

nav {
  background-color: teal;
  width: 40%;
}

/* main */

.container-main {
  display: flex;
  flex-direction: row;
}
main {
  height: 150px;
  width: 60%;
  background-color: orange;
  display: flex;
}

.image-profile {
  height: 100%;
  width: 40%;
  background-color: green;
}

.info-profile {
  height: 100%;
  width: 60%;
  background-color: rgb(212, 238, 14);
}

aside {
  height: 150px;
  width: 40%;
  background-color: orangered;
}

footer {
  height: 70px;
  background-color: black;
  color: white;
}
