<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>project Grid Layout</title>
</head>

<body>
  <section class="container">
    <header>
      header
      <!-- Name  -->
      <!-- <h1 class="logoName">Eng Mohamed Elsayed</h1> -->
      <!-- Navigation -->
      <!-- <nav>
        <a href="#1" class="active">Home</a>
        <a href="#2">Channel</a>
        <a href="#3">About</a>
      </nav> -->
    </header>



    <main>
      main
      <!-- image -->
      <!-- <img src="./image/moh.jpeg" alt="profile image" width="200px" class="image-profile"> -->

      <!-- info Profile -->
      <!-- <section class="info-profile">
        <h2>Software engineering</h2>
        <p>Team Lead Front-End</p>
        <ul class="lang">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
        </ul>
      </section> -->

    </main>


    <aside>
      aside
      <!-- <ul class="list-course">
        <li class="course">
          <img src="./image/github.jpeg" alt="GitHub" width="70px">

          <section class="info-course">
            <h4>Git & GitHub</h4>
            <a href="http://" target="_blank">start course GitHub</a>
          </section>
        </li>
        <li class="course">
          <img src="./image/html.png" alt="HTML" width="70px">
          <section class="info-course">
            <h4>HTML</h4>
            <a href="http://" target="_blank">start course HTML</a>
          </section>

        </li>
        <li class="course">
          <img src=" ./image/css.png" alt="CSS" width="70px">
          <section class="info-course">
            <h4>CSS</h4>
            <a href="http://" target="_blank">start course CSS</a>
          </section>

        </li>
      </ul> -->
    </aside>





    <footer>
      footer
      <!-- <center>
        <p>&copy; Powered by Mohamed Elsayed </p>
      </center> -->

    </footer>
  </section>

</body>

</html>