*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

section.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
  row-gap: 10px;
}

/* ********************** Header **************************** */
header {
  background-color: red;
  grid-area: header;
}

/* ************************ End Header *************************** */

main {
  background-color: green;
  grid-area: main;
}

/* ********************* Aside  ************************* */
aside {
  background-color: purple;
  grid-area: aside;
}

/* ****************** Footer ******************** */
footer {
  background-color: yellow;
  grid-area: footer;
}
