<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>First Project</title>
</head>

<body>
  <section class="container-page">
    <!-- header -->
    <header class="clearfix">
      <!-- name logo -->
      <h1 id="logo">Eng Mohamed Elsayed</h1>

      <!-- nav -->
      <nav>
        <a href="#">Home</a>
        <a href="#">Channel</a>
        <a href="#">About us</a>
      </nav>

    </header>

    <!-- Main -->
    <section class="main-content">
      <main>
        <section class="image-profile">
          <p>image</p>
        </section>

        <section class="info-profile">
          <p>info</p>
        </section>

      </main>

      <aside>
        Asidebar
      </aside>
    </section>
    <!-- End Page -->
    <footer>Footer</footer>
  </section>
</body>

</html>