* {
  margin: 0;
  padding: 0;
}

.container-page {
  width: 800px;
  margin: auto;
}

/* Header */
header {
  background-color: red;
  /* height: 100px; */
}
#logo {
  float: left;
  background-color: orange;
  width: 60%;
}

nav {
  float: right;
  background-color: pink;
  width: 40%;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

/******** Main ************/
main {
  background-color: green;
  height: 300px;
  width: 60%;
  float: left;
}

.image-profile {
  background-color: teal;
  float: left;
  width: 40%;
  height: 100%;
}
.info-profile {
  background-color: gray;
  float: right;
  width: 60%;
  height: 100%;
}

aside {
  background-color: blue;
  height: 300px;
  width: 40%;
  float: right;
}

.main-content::after {
  clear: both;
  content: "";
  display: block;
}

footer {
  background-color: black;
  height: 100px;
  color: white;
}
