#username {
  /* border: 2px solid red; */
  /* border-top: 2px solid blue;
  border-bottom: 2px solid green;
  border-right: 2px solid purple;
  border-left: 2px solid pink; */

  border-width: 3px 10px 2px 5px;
  border-color: green red pink purple;
  border-style: solid dashed dotted double;
}
