:root {
  --colorHeader: pink;
  --textColor: #fff;
  --paddingHeader: 2rem;
  --sizeProg: 30px;
  --colorFooter: #121212;
}

header {
  background-color: var(--colorHeader, red);
  padding: var(--paddingHeader);
}

header a {
  color: var(--textColor);
}

main {
  font-size: var(--sizeProg);
}

footer {
  background-color: var(--colorFooter);
  color: var(--textColor);
  padding: var(--paddingHeader);
}
