*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container-page {
  width: 800px;
  margin: auto;
}

/******* Header ********/
header {
  background-color: transparent;
}
#logo {
  float: left;
  background-color: transparent;
  width: 60%;
  padding: 15px;
}

nav {
  float: right;
  background-color: transparent;
  width: 40%;
  padding: 10px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: black;
}

nav a:hover {
  color: green;
  font-size: 20px;
}

.active {
  color: blue;
  font-size: 18px;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

/******** Main ************/
main {
  background-color: transparent;
  height: 200px;
  width: 60%;
  float: left;
}

.image-profile {
  background-color: transparent;
  float: left;
  width: 40%;
  height: 100%;
}

.image-profile img {
  width: 100%;
  height: 100%;
}
.info-profile {
  background-color: transparent;
  float: right;
  width: 60%;
  height: 100%;
  padding: 10px;
}

.info-profile p {
  margin-top: 4px;
}

ul.dashed {
  margin-top: 10px;
  list-style-type: none;
}

ul.dashed li {
  padding: 5px;
}

ul.dashed li::before {
  content: "\002D\0020";
}

/************ Aside ***********  */
aside {
  background-color: transparent;
  height: 200px;
  width: 40%;
  float: right;
}

ul.course li {
  list-style-type: none;
  margin-bottom: 10px;
}

ul.course img {
  width: 50px;
  float: left;
}

.info-course {
  float: left;
  padding: 10px 5px;
}

.info-course a {
  color: blue;
}
.info-course a:hover {
  color: green;
  text-decoration: none;
  font-size: 20px;
}
ul.course li::after {
  clear: left;
  content: "";
  display: block;
}

.main-content::after {
  clear: both;
  content: "";
  display: block;
}

footer {
  background-color: black;
  padding: 13px;
  color: white;
}
