*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.box--1 {
  background-color: red;
  height: 50px;
  width: 300px;
  padding: 0 10px;
}
.box--2 {
  background-color: pink;
  height: 50px;
  width: 300px;
}
.box--3 {
  background-color: purple;
  height: 50px;
  width: 300px;
  border: 10px solid black;
  /* box-sizing: content-box; */
}
