.html,
.css,
.javascript {
  max-width: 400px;
  border: 2px solid red;
  margin-bottom: 30px;
  text-align: center;
}

/* .html h1 {
  position: fixed;
  bottom: 50px;
  right: 0;
} */

.css h1 {
  position: sticky;
  top: 3rem;
}

.javascript h1 {
  position: sticky;
  top: 0;
}
