<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shrink</title>
  <style>
    .parent {
      height: 800px;
      color: plum;
      border: 10px solid black;
      display: flex;
      flex-direction: row;



    }

    .child {
      background-color: yellow;
      border: 2px solid green;
      margin: 5px;
      width: 200px;
      height: 200px;
      color: black;
      font-size: 30px;
      text-align: center;
    }

    .child--1 {
      flex-shrink: 2;
    }



    .child--2 {
      flex-shrink: 1;
    }



    .child--3 {
      flex-shrink: 1;
    }
  </style>
</head>

<body>
  <main>
    <section class="parent">
      <section class="child child--1">child 1</section>
      <section class="child child--2">child 2</section>
      <section class="child child--3">child 3</section>



    </section>
  </main>
</body>

</html>